/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*main*/
.main_h--70vh {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.index_h2{
    text-align: center;
}
.img-fluid {
    width: 100%;
}
.border-dark{
    border: 5px solid #503f8c !important;
}
main{
    background-color: #fcf7ed;
}
.gap-5{
    gap: 5rem!important;
}

.foto_radio{
    width: 14rem;
    height: 12rem;
    border-radius: 50%;
}
#gatito{
    width: 14rem;
    height: 12rem;
}
#form_contacto{
    list-style-type: none;
}

form{
    width: 40vw;
    min-height: 100vh;

}
#perro_modal{
    width: 12rem;
}
input{
    margin: .25rem 0;
}
label{
    margin: .25rem 0;
}
#huellas{
    height: 18rem;
    padding-left: 5rem;
}
.bckgrd--navyfooter{
    background-color: #f5e4bf;
}
.footer_h--10vh{
    height: 12vh;
}
.footer_font--style {
    color: #524a4a;
    font-weight: 600;
}